*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    
}

a{
    text-decoration: none;
}

/*Header*/
.cabecera{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.nav__link{
    padding-right: 180px;
}

.logo{
    width: 45%;
}



@media (max-width:940px){
    
    .logo{
        width: 70vw;
        margin-left: 10px;
    }

    .nav__link{
        padding-right: 10px;
    }
}

@media (max-width:680px){
    .logo{
        width: 100vw;
    }
}
/*Fin header*/

/* Inicio de footer*/
.pie{

    grid-area: footer;
    font-size: 11px;
}

.redes__logos{
    width: 3%;
}

.redes{
    position: absolute;
}

.pie ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    
}

.dato{
    padding-right: 300px;
}

@media (max-width:1217px){
    .dato{
        padding-right: 150px;
    }
}

@media (max-width:940px){
    .dato{
        padding-right: 80px;
    }
}

@media (max-width:533px){
    .dato{
        font-size: 15px;
        padding-right: 30px;
    }
}
/* Fin de footer*/

/* Index.html*/

.formato__index{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 160px 650px 400px 400px 100px;
    grid-template-areas: 
    'header header header'
    'frente frente frente'
    'publi01 publi01 publi01'
    'publi02 publi02 publi02'
    'footer footer footer';
    gap: 50px;
}

/*portada*/

.portada{
    grid-area: frente;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.imagen__portada{
    width: 100%;
    border: 3px solid black;
}

/*Fin de portada*/

/*publicidad 1*/

.publicidad__01{
    grid-area: publi01;
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
}

.publicidad__01 h1{
    margin-left: 30%;
}

.publicidad__01 img{

    width: 50%;
    margin-left: 25%;
    margin-top: 20px;

}
/*fin de publicidad 1*/

/*publicidad 2*/

.publicidad__02{
    grid-area: publi02;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2 / 3;
}

.logos__lineas{
    margin: 30px;
}

/*Fin publicidad 2*/

@media (max-width:940px){
    .formato__index{
        grid-template-rows: 185px 500px 150px 500px 100px;
    }

    .portada{
        grid-column: 1 / 4;
    }
    .publicidad__01 h1{
        margin-left: 10%;
    }
    
    .publicidad__02 div{
        display: flex;
        flex-direction: column;
    }
}

/* Fin de index.html*/

/*Nosotros*/

.formato__nosotros{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 160px 300px 600px 100px;
    grid-template-areas: 
    'header header header'
    'nosotros nosotros nosotros'
    'imagen__nos imagen__nos imange__nos'
    'footer footer footer';
}

.texto__nosotros{
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: nosotros;
    
}

.caja__texto{
    border: 1px black solid;
    width: 871px;
    margin-top: 50px;
}

.imagen__nosotros{
    grid-area: imagen__nos;
    grid-column: 2 / 3;
    
}

.banner__nosotros{
    width: 100%;
}

@media (max-width:2074px){
    .formato__nosotros{
        grid-template-rows: 180px 300px 550px 100px;
    }
}

@media (max-width:1800px){
    .formato__nosotros{
        grid-template-rows: 180px 300px 450px 100px;
    }
}

@media (max-width:1400px){
    .formato__nosotros{
        grid-template-rows: 180px 300px 350px 100px;
    }
    
    .caja__texto{
        width: 520px;

    }
}

@media (max-width:1100px){
    .formato__nosotros{
        grid-template-rows: 180px 300px 280px 100px;
    }
}

@media (max-width:900px){
    .formato__nosotros{
        grid-template-rows: 180px 300px 220px 100px;
    }
}

@media (max-width:550px){
    .formato__nosotros{
        grid-template-rows: 160px 500px 150px 100px;
    }
    .caja__texto{
        width: 300px;
    }
}
/* Fin nosotros*/

/* empresa*/

.formato__empresa{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 160px 300px 600px 100px;
    grid-template-areas: 
    'header header header'
    'empresa empresa empresa'
    'imagen__em imagen__em imange__em'
    'footer footer footer';
}

.texto__empresa{
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: empresa;   
}

.imagen__empresa{
    grid-area: imagen__em;
    grid-column: 2 / 3;
    
}

.banner__empresa{
    width: 100%;
}

@media (max-width:2074px){
    .formato__empresa{
        grid-template-rows: 180px 300px 550px 100px;
    }
}

@media (max-width:1800px){
    .formato__empresa{
        grid-template-rows: 180px 300px 450px 100px;
    }
}

@media (max-width:1400px){
    .formato__empresa{
        grid-template-rows: 180px 300px 350px 100px;
    }
    
    .caja__texto{
        width: 520px;

    }
}

@media (max-width:1100px){
    .formato__empresa{
        grid-template-rows: 180px 300px 280px 100px;
    }
}

@media (max-width:900px){
    .formato__empresa{
        grid-template-rows: 180px 300px 220px 100px;
    }
}

@media (max-width:550px){
    .formato__empresa{
        grid-template-rows: 160px 500px 150px 100px;
    }
    .caja__texto{
        width: 300px;
    }
}

/*fin empresa*/

/*marcas */

.formato__marcas{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 160px 100px 300px 300px 100px;
    grid-template-areas: 
    'header header header header header'
    'titulo__marca titulo__marca titulo__marca titulo__marca titulo__marca'
    'continental fabila gates ina luk'
    'monroe skf thompson valeo hutchinson'
    'footer footer footer footer footer';
    
    
}
.titulo{
    grid-area: titulo__marca;
    display: flex;
    justify-content: center;
}

.imagen__galeria{
    grid-area: marca;
}

.continental{
    grid-area: continental;
}

.fabila{
    grid-area: fabila;
} 
.gates{
    grid-area: gates;
} 
.ina{
    grid-area: ina;
} 
.luk{
    grid-area: luk;
}
.monroe{
    grid-area: monroe;
} 
.skf{
    grid-area: skf;
}
.thompson{
    grid-area: thompson;
}
.valeo{
    grid-area: valeo;
}
.hutchinson{
    grid-area: hutchinson;
}

@media (max-width:1530px){
    .formato__marcas{
        
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 160px 100px 300px 300px 300px 100px;
        grid-template-areas:
        'header header header header'
        'titulo__marca titulo__marca titulo__marca titulo__marca'
        'continental fabila gates ina'
        'monroe skf thompson valeo'
        ' . luk hutchinson . '
        'footer footer footer footer';
    
    }
}

@media (max-width:1230px){
    .formato__marcas{
        
        grid-template-columns: 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 200px 100px 300px 300px 300px 300px 100px;
        grid-template-areas: 
        'header header header'
        'titulo__marca titulo__marca titulo__marca'
        'continental fabila gates'
        'monroe skf thompson'
        'luk hutchinson ina'
        '. valeo .'
        'footer footer footer' ;

        }
    }

@media (max-width:900px){
    .formato__marcas{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 100px 250px 300px 250px 250px 200px 100px;
        grid-template-areas: 
        'header header'
        'titulo__marca titulo__marca'
        'continental fabila'
        'monroe skf'
        'luk hutchinson'
        'ina valeo'
        'gates thompson'
        'footer footer';

    }
}

@media (max-width:608px){
    .formato__marcas{
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-template-rows: 200px 100px 250px 250px 250px 250px 250px 250px 250px 250px 250px 250px 100px;
        grid-template-areas: 
        'header header .'
        'titulo__marca titulo__marca  titulo__marca'
        '. continental .'
        ' . fabila .'
        '. monroe .'
        ' . skf .'
        '. luk .'
        '. hutchinson .'
        '. ina .'
        '. valeo .'
        '. gates .'
        '. thompson .'
        'footer footer footer';
    }

    
}
/*fin marcas*/

/* contactos*/

.Contacto{
    grid-area: contacto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.formato__contacto{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5;
    grid-template-rows: 200px 500px 100px;
    grid-template-areas: 
    'header header header'
    '. contacto .'
    'footer footer footer';
    gap: 50px;
}

@media (max-width:1363px){
    .formato__contacto{
        grid-template-columns:1fr 2fr 1fr;
        grid-template-rows:200px 530px 100px;
    }

    .Contacto{
        flex-wrap: wrap;
        font-size: 11px;
    }
    .mapa{
        width: 75vw;
    }


}
/* fin contactos*/

/* Medias querys */

@media (max-width:2157px){

    .cabecera{
        flex-direction: column;

    }

    .logo{
        margin-left: 250px;
    }

    .nav__link{
        padding-right: 100px ;
    }

    .formato__index{
        grid-template-rows: 190px 700px 300px 320px 100px;
    }
   
    .imagen__portada{
        width: 100%;
    }
}

@media (max-width:1217px){

    .nav__link{
        padding-right: 70px;
    }

    .logo{
        width: 60%;
        margin-left: 200px;
    }

    .formato__index{
        grid-template-rows: 190px 350px 200px 210px 100px;
    }
    .portada{
        grid-column: 1 / 4;
    }
    .publicidad__01 h1{
        margin-left: 20%;
    }

    .logos__lineas{
        width: 200px;
    }
}